<!DOCTYPE html>
<html>
   <body>
      <script type="text/javascript">
         function custom_or_original()
         {
            if(document.getElementById("custom").checked)
            {
               document.getElementById("custom_div").style.display = "block";
            }
            else
            {
               document.getElementById("custom_div").style.display = "none";
            }
         }
      </script>
      <form action = "" method = "post" enctype = "multipart/form-data">
         <input type = "file" name = "file" /><br><br>
         <input type = "radio" onclick="custom_or_original()" id="original" name="custom" value="original" checked>
         <label for="original">Original Soundtrack</label><br>
         <input type = "radio" onclick="custom_or_original()" id="custom" name="custom" value="custom">

         <label for="custom">Custom Songs</label>
         <div id="custom_div" style="display:none">
            <p>(limited to 50 songs you downloaded from <a href="https://spinsha.re">spinsha.re</a>, in order of song attempts. page may load for ~1 minute after you click submit)</p>

         </div>
         <br><br>
         <input type = "radio" id="easy" name="difficulty" value="easy">
         <label for="easy">Easy</label><br>
         <input type = "radio" id="medium" name="difficulty" value="medium">
         <label for="medium">Medium</label><br>
         <input type = "radio" id="hard" name="difficulty" value="hard">
         <label for="hard">Hard</label><br>
         <input type = "radio" id="expert" name="difficulty" value="expert">
         <label for="expert">Expert</label><br>
         <input type = "radio" id="XD" name="difficulty" value="XD" checked>
         <label for="XD">XD</label><br>
         <p>Sort by: <p>
         <input type = "radio" id="Attempts" name="sort" value="Attempts" checked>
         <label for="Attempts">Attempts</label><br>
         <input type = "radio" id="Completions" name="sort" value="Completions">
         <label for="Completions">Completions</label><br><br>
         <input type = "submit"/><br>
         <h3>This currently shows your number of song attempts vs. number of completions. More functionality is planned, see <a href="https://github.com/kylefmohr/SpinSave.lol">https://github.com/kylefmohr/SpinSave.lol</a> to report an issue or request a feature!</h3>
         <h3>On Windows, your save file is located at: %USERPROFILE%\AppData\LocalLow\Super Spin Digital\Spin Rhythm XD\(your Steam ID)\savedata.dat </h3>
      </form>
   </body>
</html>
